<section class="menu">
  <nav class="navbar is-link is-centered" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Institucional
          </a>
          <div class="navbar-dropdown">
            <router-link to="/about"><a class="navbar-item">Sobre</a></router-link>
            <a class="navbar-item">
              Secretário de Saúde
            </a>
            <a class="navbar-item">
              Gabinete
            </a>
            <a class="navbar-item">
              Conselho Municipal de Saúde
            </a>
            <a class="navbar-item">
              Atos
            </a>
            <!-- <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a> -->
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Unidades Administrativas
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Administrativa
            </a>
            <a class="navbar-item">
              Atenção Básica
            </a>
            <a class="navbar-item">
              Planejamento
            </a>
            <a class="navbar-item">
              Tecnologia da Informação
            </a>
            <a class="navbar-item">
              Vigilância em Saúde
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Estrutura
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Relação de Unidades de Saúde - UBS/ESF
            </a>
            <a class="navbar-item">
              Assistência Farmacêutica
            </a>
            <a class="navbar-item">
              Central 192
            </a>
            <a class="navbar-item">
              Estratégia de Saúde da Familia
            </a>
            <a class="navbar-item">
              Hospital
            </a>
            <a class="navbar-item">
              Núcleo de Especialidades
            </a>
            <a class="navbar-item">
              Pronto Atendimento Zanaga
            </a>
            <a class="navbar-item">
              Saúde Mental
            </a>
            <a class="navbar-item">
              Serviço de Assistência Especializada
            </a>
            <a class="navbar-item">
              Unidades Básicas de Saúde
            </a>
            <a class="navbar-item">
              Unidade de Atendimento Domiciliar
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Profissionais da Saúde
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              ESUS
            </a>
            <a class="navbar-item">
              CARTÃO SUS NET
            </a>
            <a class="navbar-item">
              Webmail
            </a>
            <a class="navbar-item">
              Conecta Saúde
            </a>
            <a class="navbar-item">
              NEPH
            </a>
            <a class="navbar-item">
              SIGESUS
            </a>
            <a class="navbar-item">
              Boletim INFORMASAUDE
            </a>
            <a class="navbar-item">
              Recursos Humanos
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Imprensa
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Contato
            </a>
            <a class="navbar-item">
              Alertas da Saúde
            </a>
            <a class="navbar-item">
              Boletim Dengue
            </a>
            <a class="navbar-item">
              Nossas Notícias
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Links Úteis
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Prefeitura de Americana
            </a>
            <a class="navbar-item">
              Alertas da Saúde
            </a>
            <a class="navbar-item">
              Ministério da Saúde
            </a>
            <a class="navbar-item">
              Secretaria Estadual da Saúde
            </a>
          </div>
        </div>

      </div>
      <!-- <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </nav>
</section>